.login-form, 
.contact {
  background: #fff;
  padding: 40px 20px;
  border-radius: 8px;

  .alert-success,
  .alert-danger {
    font-size: 75%;
  } 

  h4 {
    margin-bottom: 20px;
    color: #424242;
  }

  textarea {
    width: 100%;
  }

  .form-input-custom {
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 600px) {
    h4 {
      text-align: center;
    }
    width: 540px;
    margin: 0 auto;
    padding: 40px 100px;

    .contact-btn,
    .login-btn {
      padding: 8px 60px;
      text-transform: uppercase;
    }
  } 
}