.not-found {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/ground.jpg);
  background-size: cover;
  background-position: center;
  height: 82vh;
  background-attachment: fixed;
  margin-top: -20px;
  overflow: hidden;
  text-align: center;
  padding-top:300px;
  position: static;

  h1 {
    font-size: 200%;
    margin: 0;
  }
}