.profile {
  font-size: 75%;

  .bio {
    font-size: 110%
    max-width: 1000px;
    text-align: justify;
    padding: 10px;
  }

  .profile-info {
    display: flex;
    flex-flow: row wrap;
    background: #151313;

    h2 {
      font-size: 160%;
      text-align: center;
    }

    img {
      width: 100%
      height: 300px;
      border-radius: 8px;
      object-fit: cover;
      object-position: 60% 0%;
    }

    .dob-player-style {
      display: flex;
      flex-flow: column;
      width: 400px;
      max-width: 100%;
      font-size: 150%;
      padding: 20px;
      margin-top: 20px;

      div {
        margin-bottom: 40px;
      }

      .p-info {
        font-size: 80%;
      }
    }

    .border-bottom {
      border-bottom: 1px solid #fff;
      overflow: auto;
      margin: 0;
      font-size: 60%;
    }

    .profile-icons {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      text-align: center; 
      font-size: 300%;
      flex-wrap: wrap-reverse;
      
      a {
        color: red;
        margin-bottom: 20px;
      }

      svg {
        cursor pointer
      }
      
    }
  }

  @media only screen and (min-width: 600px) {
    .profile-info {
      .profile-icons {
        text-align: right; 
      }

      img {
        width: 300px;
      }

      h2 {
        font-size: 160%;
        text-align: left;
      }
    }

    .bio {
      margin: 40px auto 0;
    }

    .profile-info {
      padding: 70px;

      .dob-player-style {
        padding: 0;
        margin-left: 150px;
        margin-top: 0;
      }
    }
  } 
}