.profile {
  font-size: 75%;

  .bio {
    font-size: 110%
    max-width: 1000px;
    text-align: justify;
    padding: 10px;
  }

  .profile-info {
    display: flex;
    flex-flow: row wrap;
    background: #151313;

    h2 {
      font-size: 160%;
      text-align: center;
    }

    img {
      width: 100%
      height: 200px;
      border-radius: 8px;
    }

    .dob-player-style {
      display: flex;
      flex-flow: column;
      width: 400px;
      max-width: 100%;
      font-size: 150%;
      padding: 20px;

      div {
        margin-bottom: 40px;
      }
    }

    .border-bottom {
      border-bottom: 1px solid #fff;
      overflow: auto;
      margin: 0;
      font-size: 60%;
    }
  }

  @media only screen and (min-width: 600px) {
    .profile-info {
      img {
        width: 300px;
      }

      h2 {
        font-size: 160%;
        text-align: left;
      }
    }

    .bio {
      margin: 40px auto 0;
    }

    .profile-info {
      padding: 70px;
    }

    .dob-player-style {
      margin-left: 50px;
      padding: 0;
    }
  } 
}