.profile {

  .bio {
    font-family: 'Texturina', serif;
    font-size: 20px;
    max-width: 1000px;
    text-align: justify;
    margin: 40px auto 0;
  }

  .profile-info {
    display: flex;
    flex-flow: row wrap;
    background: #151313;
    padding: 70px;

    img {
      width: 300px;
      height: 200px;
      border-radius: 8px;
    }

    .dob-player-style {
      display: flex;
      flex-flow: column;
      margin-left: 50px;
      width: 400px;
      max-width: 100%;
      font-size: 18px;

      div {
        margin-bottom: 40px;
      }
    }

    .border-bottom {
      border-bottom: 1px solid #fff;
      overflow: auto;
      margin: 0;
      font-size: 12px;
    }
  }
}