.admin-form {
  .consoles {
    display: flex;
    flex-flow: row wrap; 
    margin-top: 40px;
  }

  .console {
    width: 272px;
    height: 300px;
    border-radius: 8px;
    margin-right: 40px;
    background: #fff;
    text-align: center;
    position: relative;
  }

  .console:nth-child(3n+4) {
    margin-right: 0 !important;
  }

  .form-type {
    color: #000;
    vertical-align: middle;
    line-height: 300px;
    font-size: 18px;  
  }

  .uploader {
    text-align: left;
    position: absolute;
    background: #fff;
    margin-top: 40px;
    min-width: 600px;
    padding: 20px;
    width: 100%;
    right: -60%;
    top: 138px;
    z-index: 1;
    -webkit-box-shadow: -2px 0px 24px 0px rgba(0,0,0,0.72); 
    box-shadow: -2px 0px 24px 0px rgba(0,0,0,0.72);

    .react-datepicker-wrapper,
    .react-datepicker__input-container {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .match-results-uploader {
    padding: 45px;

    h4 {
      color: #000;
      margin-bottom: 20px;
    }
  }

  .Dropdown-root,
  .react-datepicker-wrapper {
    margin-bottom: 20px;
    input {
      border: 1px solid #ccc;
    }
    
  }

  .dob-label {
    color: #808080;
  }

  
  .file-uploader {
    color: black;
    font-size: 15px;
    letter-spacing: -1px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .uploader-label {
    position: absolute;
    bottom: 17px;
    left: 19px;
    padding: 8px 8px;
    border-radius: 12px;
    width: 100px;
  }

}