.admin-console {

  .consoles {
    display: flex;
    flex-flow: row wrap; 
    margin-top: 40px;
  }

  .console {
    width: 100%;
    height: 265px;
    border-radius: 8px;
    margin: 0 0 40px 0;
    background: #fff;
    text-align: center;
    position: relative;
  }

  .console:nth-child(3n+4) {
    margin-right: 0 !important;
  }

  .form-type {
    color: #000;
    vertical-align: middle;
    line-height: 265px;
    font-size: 18px;  
  }

  .uploader {
    textarea {
      width: 100%;
    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .match-results-uploader {
    h4 {
      color: #000;
      margin-bottom: 20px;
    }
  }

  .Dropdown-root,
  .react-datepicker-wrapper {
    // margin-bottom: 20px;
    input {
      border: 1px solid #ccc;
    }
    
  }


  .file-uploader {
    color: black;
    font-size: 15px;
    letter-spacing: -1px;
    border-radius: 20px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }


  .p-uploder {
    width: 200px;
  }

  .fa-times {
    color: #000;
    font-size: 30px;
  }

  .players-ranking-form {
    input {
      margin: 20px 0;
    }
  }

  @media only screen and (min-width: 600px) {
    .console {
      width: 265px;
      margin: 0 40px 40px 0;
    }

    .uploader {
      .react-datepicker-wrapper,
      .react-datepicker__input-container {
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  } 
}

.login-form {
  background: #fff;
  padding: 40px 20px;
  border-radius: 8px; 

  h4 {
    margin-bottom: 20px;
    color: #424242;
  }

  .form-input-custom {
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 600px) {
    padding: 50px 180px;
  } 
}

.input-picker {
  width: 100%;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
  color: grey;
  border: 1px solid #ccc;


  &:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }

  &:focus:before,
  &:valid:before {
    content: "";
  }
}