@require "home";
@require "header";
@require "footer";
@require "home-carousel";
@require "stats";
@require "form-input";
@require "custom-button";
@require "login";
@require "videos";
@require "admin-form";
@require "players";
@require "profile";
@require "react-dropdown/style.css";
@require "react-datepicker/dist/react-datepicker.css";

body, ul {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

h1,h2,h3,h4,h5,h5 {
  font-family: 'Shadows Into regular', cursive;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  margin: 0;
  padding: 0;
}

.f-icon {
  margin-right: 20px;
}

.fa-thumbs-down {
  color: red;  
}

.fa-thumbs-up {
  color: green;
}

input {
  height: 42px !important;  
}

textarea {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

label {
  color: #000;
}

.hidden {
  display: none;
}

