@require "home";
@require "header";
@require "footer";
@require "home-carousel";
@require "stats";
@require "form-input";
@require "custom-button";
@require "login";
@require "videos";
@require "react-dropdown/style.css";

body, ul {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e056fd;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  margin: 0;
  padding: 0;
}

.login,
.players-ranking-form {
  background: #fff;
  width: 800px;
  height: 500px;
  margin: 100px auto;
  border-radius: 8px;
  padding: 60px;
}

.players-ranking-form {
  .Dropdown-root {
    margin-bottom: 40px;
  }
}

