.custom-button {
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #9e94e3;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 20px;
  
    &:hover {
      background-color: white;
      color: #9e94e3;
      border: 1px solid #9e94e3;
    }
  }
  