.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(65,16,117,1)
  color: #fff;
  padding: 8px 70px 8px;
  font-weight: 300;
  height: 100px;

  .logo {
    margin-left: 54px;
  }
  img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
  }

  .links-wrapper {
    a {
      padding: 0 20px;
    }

    #basic-nav-dropdown {
      color: #fff !important;
    }

    .dropdown-menu {
      a {
        color: #000
        outline: none;
        display: block;
      }
    }
  }

}