.ca-eagles {
  background-image: url('../assets/bg.png');
  background-size: cover;
  color: white;

  .content {
    padding: 20px 10px;
    width: 1230px;
    margin: auto;

    section {
      margin: 40px 0;
    }
  }
}