.slider {
  width: 100%;
  max-height: 700px;

  @media only screen and (min-width: 600px) {
    height: 700px;
  } 
}

.image-loader {
  background: url(../assets/team.jpg) center center / cover no-repeat;
  height: 400px;
  width: 100%;
  

  @media only screen and (min-width: 600px) {
    height: 700px;
    overflow: hidden;
  } 
}