.ca-eagles {
  height: 100%;
}
.ca-eagles section {
  margin-top: 20px !important;
}
@media only screen and (min-width: 600px) {
  .ca-eagles section {
    margin-top: 30px !important;
  }
}
.ca-eagles .content-wrapper {
  position: relative;
  min-height: 82vh;
  background-image: url("../assets/bg.png");
  background-size: cover;
  top: 80px;
  padding-top: 20px;
  margin-bottom: 80px;
}
@media only screen and (min-width: 600px) {
  .ca-eagles .content-wrapper {
    top: 100px;
    margin-bottom: 100px;
  }
}
.ca-eagles .content {
  padding: 10px;
  max-width: 1230px;
  margin: auto;
}
.ca-eagles .content section {
  margin: 40px 0;
}
.header {
  background: #c31010;
  color: #fff;
  padding: 20px 0;
  font-weight: 400;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header .logo {
  margin-left: 10px;
}
.header img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}
.header .links-wrapper {
  background: #fff;
  margin-top: 15px;
}
.header .links-wrapper a {
  margin: 10px 20px;
  color: #424242;
}
.header .links-wrapper .btn.btn-link {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .header {
    height: 100px;
    padding: 8px 70px 8px;
  }
  .header .logo {
    margin-left: 54px;
  }
  .header img {
    width: 70px;
    height: 60px;
  }
  .header .links-wrapper {
    background: inherit;
    margin-top: 0;
  }
  .header .links-wrapper a,
  .header .links-wrapper .btn.btn-link {
    margin: 0 20px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
  }
  .header .links-wrapper a:hover,
  .header .links-wrapper .btn.btn-link:hover {
    border-bottom: 2px solid #fff;
  }
  .header .links-wrapper #basic-nav-dropdown {
    color: #fff !important;
  }
  .header .links-wrapper .dropdown-menu a {
    color: #000;
    outline: none;
    display: block;
  }
}
.footer {
  font-size: 75%;
  height: 78px;
  background: #000;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 78px;
}
.home-carousel {
  width: 100%;
  max-height: 700px;
}
.home-carousel .carousel-inner {
  width: 100%;
  max-height: 700px;
}
.home-carousel img {
  width: 100%;
}
.stats {
  font-size: 75%;
}
.stats h2 {
  font-size: 180%;
  margin: 40px 0 10px 0;
}
.stats h3 {
  font-size: 160%;
  margin: 40px 0 10px 0;
}
.stats-wrapper {
  background: rgba(195,16,16,0.82);
}
.stats-content {
  display: flex;
  flex-flow: row wrap;
}
.stats-b-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.stats-b-wrapper:nth-child(3n+3) {
  margin-right: 0 !important;
}
@media only screen and (min-width: 600px) {
  .stats-b-wrapper {
    margin-right: 68px;
    max-width: 358px;
  }
}
.stats-b-wrapper h3 {
  text-align: left;
}
.stats-b-wrapper .badge img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
@media only screen and (min-width: 600px) {
  .stats-b-wrapper .badge img {
    height: 200px;
  }
}
.stats-players,
.stats-results {
  width: 100%;
  width: 100%;
  background: #0f218b;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  list-style: none;
  margin-top: 20px;
  height: 280px;
}
.stats-players li {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  justify-content: space-between;
}
.stats-players li img {
  margin-right: 10px;
  border-radius: 50px;
}
.stats-results {
  font-size: 16px;
  padding: 20px;
}
.stats-results li {
  margin-bottom: 22px;
}
.stats-m-d {
  font-size: 12px;
  padding: 0 30px;
  margin: -7px 20px;
}
.stats .stat-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 222px;
  display: inline-block;
}
.stats-w {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 222px;
  display: inline-block;
}
.stats-see-more {
  position: absolute;
  top: 42px;
  right: 13px;
  font-size: 100%;
}
@media only screen and (min-width: 600px) {
  .stats-see-more {
    right: 13px;
  }
}
.form-input-custom .input-error {
  color: #f00;
  font-size: 14px;
  margin-left: 10px;
}
.form-input-custom input[type='file'] {
  border: none;
}
.form-input-custom input {
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
  color: #808080;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}
.form-input-custom input:focus {
  outline: none;
}
.custom-button-wrapper {
  text-align: center;
}
.custom-button-wrapper .custom-button {
  padding: 10px 30px;
  border-radius: 20px;
}
.hp-videos {
  font-size: 75%;
  padding: 10px;
}
.hp-videos h2 {
  font-size: 180%;
  margin: 40px 0 10px 0;
}
.hp-videos .see-more {
  margin-top: 45px;
}
.hp-videos .videos-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow: hidden;
  clear: both;
}
.hp-videos .videos-wrapper .video {
  margin: 0 0 10px 0;
  width: 100% !important;
  height: 290px !important;
}
.hp-videos .videos-wrapper .video:nth-child(3n+3) {
  margin-right: 0 !important;
}
@media only screen and (min-width: 600px) {
  .hp-videos h2 {
    margin: 20px 0 10px 0;
  }
  .hp-videos .videos-wrapper .video {
    width: 390px !important;
    margin-right: 20px;
  }
}
.admin-console .consoles {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}
.admin-console .console {
  width: 100%;
  height: 265px;
  border-radius: 8px;
  margin: 0 0 40px 0;
  background: #fff;
  text-align: center;
  position: relative;
}
.admin-console .console:nth-child(3n+4) {
  margin-right: 0 !important;
}
.admin-console .form-type {
  color: #000;
  vertical-align: middle;
  line-height: 265px;
  font-size: 18px;
}
.admin-console .uploader textarea {
  width: 100%;
}
.admin-console .uploader .react-datepicker-wrapper,
.admin-console .uploader .react-datepicker__input-container {
  width: 100%;
}
.admin-console .uploader .react-datepicker-wrapper input,
.admin-console .uploader .react-datepicker__input-container input {
  width: 100%;
}
.admin-console .match-results-uploader h4 {
  color: #000;
  margin-bottom: 20px;
}
.admin-console .Dropdown-root input,
.admin-console .react-datepicker-wrapper input {
  border: 1px solid #ccc;
}
.admin-console .file-uploader {
  color: #000;
  font-size: 15px;
  letter-spacing: -1px;
  border-radius: 20px;
}
.admin-console .file-uploader:focus {
  outline: none;
  box-shadow: none;
}
.admin-console .p-uploder {
  width: 200px;
}
.admin-console .fa-times {
  color: #000;
  font-size: 30px;
}
.admin-console .players-ranking-form input {
  margin: 20px 0;
}
@media only screen and (min-width: 600px) {
  .admin-console .console {
    width: 265px;
    margin: 0 40px 40px 0;
  }
  .admin-console .uploader .react-datepicker-wrapper,
  .admin-console .uploader .react-datepicker__input-container {
    width: 100%;
  }
  .admin-console .uploader .react-datepicker-wrapper input,
  .admin-console .uploader .react-datepicker__input-container input {
    width: 100%;
  }
}
.login-form {
  background: #fff;
  padding: 40px 20px;
  border-radius: 8px;
}
.login-form h4 {
  margin-bottom: 20px;
  color: #424242;
}
.login-form .form-input-custom {
  margin-bottom: 40px;
}
@media only screen and (min-width: 600px) {
  .login-form {
    padding: 50px 180px;
  }
}
.input-picker {
  width: 100%;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
  color: #808080;
  border: 1px solid #ccc;
}
.input-picker:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
.input-picker:focus:before,
.input-picker:valid:before {
  content: "";
}
.players-main {
  display: flex;
  flex-flow: row wrap;
}
.players-main .badge {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.players-main .badge img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.players-main .badge:nth-child(4n + 4) {
  margin-right: 0;
}
@media only screen and (min-width: 600px) {
  .players-main .badge {
    width: 300px;
  }
}
.profile {
  font-size: 75%;
}
.profile .bio {
  font-size: 110%;
  max-width: 1000px;
  text-align: justify;
  padding: 10px;
}
.profile .profile-info {
  display: flex;
  flex-flow: row wrap;
  background: #151313;
}
.profile .profile-info h2 {
  font-size: 160%;
  text-align: center;
}
.profile .profile-info img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.profile .profile-info .dob-player-style {
  display: flex;
  flex-flow: column;
  width: 400px;
  max-width: 100%;
  font-size: 150%;
  padding: 20px;
}
.profile .profile-info .dob-player-style div {
  margin-bottom: 40px;
}
.profile .profile-info .border-bottom {
  border-bottom: 1px solid #fff;
  overflow: auto;
  margin: 0;
  font-size: 60%;
}
@media only screen and (min-width: 600px) {
  .profile .profile-info img {
    width: 300px;
  }
  .profile .profile-info h2 {
    font-size: 160%;
    text-align: left;
  }
  .profile .bio {
    margin: 40px auto 0;
  }
  .profile .profile-info {
    padding: 70px;
  }
  .profile .dob-player-style {
    margin-left: 50px;
    padding: 0;
  }
}
.about {
  font-size: 75%;
  text-align: justify;
}
.about h1 {
  font-size: 180%;
  margin: 40px 0 10px 0;
}
.about h1:first-child {
  margin-top: 0;
}
.schedule-wrapper {
  display: flex;
  flex-flow: column;
  color: #424242;
  font-size: 18px;
}
.schedule-wrapper .schedule {
  display: flex;
  flex-flow: column;
  background: #333;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
.schedule-wrapper .schedule .match-date {
  background: #fff;
  padding: 20px;
  color: #424242;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .schedule-wrapper .schedule .match-date {
    width: 170px;
  }
}
.schedule-wrapper .schedule .oponent {
  flex: 1;
  padding: 20px;
  font-size: 24px;
}
.schedule-wrapper .schedule .oponent .venue {
  font-size: 14px;
}
.schedule-wrapper .schedule .team-initials {
  padding: 20px;
  font-size: 18px;
}
.schedule-wrapper .schedule .team-initials img,
.schedule-wrapper .schedule .team-initials .oponent-initial {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #f00;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.schedule-wrapper .schedule .team-initials .oponent-initial {
  padding: 17px;
}
@media only screen and (min-width: 600px) {
  .schedule-wrapper .schedule {
    flex-flow: row nowrap;
  }
}
.results {
  font-size: 20px;
}
.results iframe {
  width: 100%;
  height: 1000px;
  margin-top: -418px;
  overflow: hidden;
}
.Dropdown-root {
  position: relative;
  margin: 10px 0 20px 0 !important;
  font-size: 18px;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: grey;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 20px;
  transition: all 200ms ease;
  margin: 0 !important;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 100%;
}
input {
  font-size: 80%;
}
ul {
  list-style: none;
}
a,
.links-wrapper .btn.btn-link {
  outline: none;
  text-decoration: none;
  color: #fff;
}
a:focus,
.links-wrapper .btn.btn-link:focus,
a:hover,
.links-wrapper .btn.btn-link:hover {
  text-decoration: none;
  color: #fff;
}
li {
  margin: 0;
  padding: 0;
}
.f-icon {
  margin-right: 20px;
}
.fa-thumbs-down {
  color: #f00;
}
.fa-thumbs-up {
  color: #008000;
}
input {
  height: 42px !important;
}
textarea {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
label {
  color: #000;
}
.hidden {
  display: none;
}
.see-more {
  cursor: pointer;
}
.Dropdown-control {
  border-radius: 20px;
  margin: 10px 0 20px;
}
.react-datepicker__input-container input {
  border-radius: 20px;
}
input.danger {
  border: 1px solid #f00 !important;
}
.danger .Dropdown-control {
  border: 1px solid #f00 !important;
}
input {
  margin: 10px 0;
}
.file-uploader {
  color: #424242;
}
.modal-header {
  color: #424242;
}
textarea {
  width: 100%;
}
