@require "./pages/home";
@require "./common/header";
@require "./common/footer";
@require "./home-carousel";
@require "./stats";
@require "./common/form-input";
@require "./common/custom-button";
@require "./common/loader";
@require "./videos";
@require "./admin";
@require "./pages/players";
@require "./pages/profile";
@require "./pages/about";
@require "./pages/schedule";
@require "./pages/results";
@require "./pages/login-contact";
@require "./dropdown.css";

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, ul {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h5 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 100%;
}

input {
  font-size: 80%;
}

ul {
  list-style: none;
}

a,
.links-wrapper .btn.btn-link {
  outline : none;
  text-decoration: none;
  color: #fff;

  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}


li {
  margin: 0;
  padding: 0;
}

.fa-thumbs-down {
  color: red; 
  margin-right: 20px; 
}

.fa-thumbs-up {
  color: green;
  margin-right: 20px;
}

input,
textarea {
  color: #808080;
}

input {
  height: 42px !important;  
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

label {
  color: #000;
}

.hidden {
  display: none;
}

.see-more{
  cursor: pointer
}

.Dropdown-control {
  border-radius: 20px;
   margin: 10px 0 20px;
}

.react-datepicker__input-container {
  input {
    border-radius: 20px;
  }
}

input.danger {
  border: 1px solid red !important;
}

.danger {
  .Dropdown-control {
    border: 1px solid red !important;
  }
}

input {
  margin: 10px 0;  
}

.file-uploader {
  color: #424242;
}

.modal-header {
  color: #424242;
}

textarea {
  width: 100%;
}


