.hp-videos {
  font-size: 75%;
  padding: 10px;

  h2 {
    font-size: 180%;
    margin: 40px 0 10px 0;
  }

  .see-more {
    margin-top: 30px;
  }

  .videos-wrapper {
    overflow: hidden;
    clear: both;

    .videos {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .video {
      margin: 0 0 10px 0;
      width: 100% !important;
      height: 290px !important;
    }

    .video:nth-child(3n+3) {
      margin-right: 0 !important;
    }
  }

  @media only screen and (min-width: 600px) {
    h2 {
      margin: 20px 0 10px 0;
    }

    .videos-wrapper {
      .video {
        width: 390px !important;
        margin-right: 20px;
      }
    }
  } 
}