.videos-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  //background: #c31010d1;
  //padding: 20px 30px;
  padding: 10px 0;
  overflow: hidden;
  clear: both;

  .video {
    padding: 10px;
    margin-right: 20px;
  }

  .video:nth-child(3n+3) {
    margin-right: 0 !important;
  }
}