.footer {
  
  font-size: 75%;
  height: 84px;
  background: #000;
  left: 0;
  bottom: 0; 
  width: 100%;
  text-align: center;
  padding: 5px;


  .footer-inner {
    max-width: 1230px;
    display: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .legal,
  .footer-icons {
    flex-grow: 1; 
    text-align: right; 
  }

  .footer-icons{
    a {
      padding-left: 20px;
      font-size: 180%;
    }
  }

  @media only screen and (min-width: 600px) {
    text-align: center;
    line-height: 78px;
    text-align: right;

    .footer-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 auto;
    }
    
    

    .legal,
    .footer-icons {
      height: 78px;
    }
  } 
}