.footer {
  
  font-size: 75%;
  height: 78px;
  background: #000;
  left: 0;
  bottom: 0; 
  width: 100%;
  text-align: center;
  line-height: 78px;

  .footer-inner {
    max-width: 1230px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .legal,
  .footer-icons {
    flex-grow: 1; 
    text-align: right; 
    height: 78px;
  }

  .footer-icons{
    a {
      padding-left: 20px;
      font-size: 180%;
    }
  }
}