.header {
  background: rgb(195,16,16);
  color: #fff;
  padding: 20px 0;
  font-weight: 400;
  width: 100%;
  position: fixed;
  z-index: 1;
  font-size: 100%;

  .logo {
    margin-left: 10px;
  }

  img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
  }

  .links-wrapper {
    background: #fff;
    margin-top: 15px;
    a {
      margin: 10px 20px;
      color: #424242;
    }

    .btn.btn-link {
      padding: 0;
      line-height: 0px;
      font-size: 100%;
    }
  }

  @media only screen and (min-width: 600px) {
    height: 100px;
    padding: 8px 70px 8px;

    .logo {
      margin-left: 54px;
    }

    img {
      width: 70px;
      height: 60px;
    }

    .links-wrapper {
      background: inherit;
      margin-top: 0;
      a,
      .btn.btn-link {
        margin: 0 20px;
        color: #fff;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

        &:hover {
          border-bottom: 2px solid #fff;
        }
      }

      #basic-nav-dropdown {
        color: #fff !important;
      }

      .dropdown-menu {
        a {
          color: #000
          outline: none;
          display: block;
        }
      }
    }
  } 

}